<!DOCTYPE html>
<html>
<head>
    <title> Device Data Set Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        table#t01 {
            width: 100%;
            background-color: #f1f1c1;
        }
    </style>
    <!-- <meta http-equiv="refresh" content="5"> -->
</head>
<body>

<h2>Chirpstack Server Mqtt Message</h2>

<table id="t01">
    <tr>
        <th>Time</th>
        <th>DeviceIdentifier</th>
        <th>Distance</th>
        <th>Temperature</th>
        <th>Battery</th>
        <th>Barometer</th>
        <th>Airpressure</th>
        <th>FCnt</th>
        <th>Raw Payload</th>
    </tr>
    {{ range .Data }}
    <tr>
        <td>{{.ShowTime}}</td>
        <td>{{.DeviceIdentifier}}</td>
        <td>{{.Distance}}</td>
        <td>{{.Temperature}}</td>
        <td>{{.Battery}}</td>
        <td>{{.Airpressure}}</td>
        <td>{{.Airpressure}}</td>
        <td>{{.Fcnt}}</td>
        <td>{{.Raw}}</td>
    </tr>
    {{ end }}
</table>

</body>
</html>